<!-- start navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" aria-label="Tenth navbar example" id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
      aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-effect active" aria-current="page" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-effect" href="../about.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-effect" href="../services.html">Our services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-effect" href="../contact.html">Contact us</a>
        </li>
      </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end navbar -->