/* Almarai regular */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Almarai light */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Light.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Almarai bold */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Almarai";
    font-weight: 400;
    font-style: normal;
}

.logo {
    max-width: 10%;

}

.carousel-item>img {
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 32rem;
}

.footer {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}


/* paralex */
.wrapper {
    background-color: #000;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.hero-text {
    background: linear-gradient (rgba(105, 211, 252, 0.25) 0%,
            rgba(255, 116, 161, 0.25) 86%,
            rgba(1, 0, 0, 0.25) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.para-container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
}

.para-container h1 {
    font-weight: 900;
    position: absolute;
    font-size: 8.5rem;
    text-align: center;
}


.parallax__group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sky {
    background: url('../img/sky.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
}

.bushes {
    background: url('../img/bushes.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-525px) scale(2.75);
    z-index: 2;
}

.water {
    background: url('../img/water.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-400px) scale(2.33333333);
    z-index: 3;
}

.people1 {
    background: url('../img/people1.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-250px) scale(1.833333333);
    z-index: 4;
}

.people2 {
    background: url('../img/people2.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-125px) scale(1.4167);
    z-index: 5;
}

.people3 {
    background: url('../img/people3.png') no-repeat center;
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 6;
}

.hero-text {
    background: linear-gradient(rgba(105, 211, 252, 0.25) 0%,
            rgba(255, 116, 161, 0.25) 86%,
            rgba(1, 0, 0, 0.25) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}



.info-container {
    transform: translateZ(0) scale(1);
    z-index: 8;
    display: flex;
    flex-direction: column;
}