@import url(bootstrap.min.css);
/* Almarai regular */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Almarai light */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Light.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Almarai bold */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai/Almarai-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: "Almarai";
    font-weight: 400;
    font-style: normal;
}

.logo {
    max-width: 10%;

}

.carousel-item>img {
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 32rem;
}

.footer {
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}


/* paralex */
.wrapper {
    background-color: #000;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.para-container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
}

.para-container h1 {
    font-weight: 900;
    position: absolute;
    font-size: 8.5rem;
    text-align: center;
}


.parallax__group {
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sky {
    background: url('../img/parallax/sky.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
}

.city {
    background: url('../img/parallax/city.png') no-repeat center;
    background-size: cover;
    transform: translateZ(-125px) scale(1.4167);
    z-index: 5;
}

.tower2 {
    background: url('../img/parallax/tower2.png') no-repeat center;
    background-size: cover;
    transform: translateZ(0px) scale(1);
    z-index: 6;
}

.hero-text {
    background: linear-gradient(rgba(105, 211, 252, 0.25) 0%,
            rgba(255, 116, 161, 0.25) 86%,
            rgba(1, 0, 0, 0.25) 100%);
    background-size: cover;
    transform: translateZ(0) scale(1);
    z-index: 7;
}

.info-container {
    transform: translateZ(0) scale(1);
    z-index: 8;
    display: flex;
    flex-direction: column;
}

.nav-effect::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e6b447;
    transition: width .3s;
}

.nav-effect:hover::after {
    width: 100%;
    transition: width .3s;
}

.active::after {
    content: '';
    display: block;
    height: 2px;
    background: #e6b447;
}

.active::after {
    width: 100%;
}


/* google map */
.iframe-maps iframe {
    top: 0;
    left: 0;
    width: 100% !important;
    height: calc(100vh - 65px) !important;
}

.form-control {
    border: none;
    border-bottom: 1px solid #dcdfe6;
}

.form-control:focus {
    border-bottom: 2px solid #e6b447;
    color: #e6b447;
}

/* social links */

.link-social {
    color: #c79326;
    transition: color .3s;
    font-size: x-large;
}

.link-social:hover {
    color: #e6b447;
    cursor: pointer;
}

/* hr text */
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #e6b447, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    color: #e6b447;
    background-color: #fcfcfa;
}

.footer-bg {
    background-image: url('../img/footer.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.footer-bg .bg-liner {
    background: linear-gradient(to top, transparent, #00000073);
    height: 100%;
}

.card .card-bg-liner{
    display: none;
    transition:display .3s;
   
}

.card .card-bg-liner:hover{
    background: linear-gradient(to bottom, transparent, #00000073);
    height: 100%;
    transition:display .3s;
}